h2 {
    color: #5D9B85; /* Verde oscuro */
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #C5E1F1; /* Azul suave */
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #A8E6CF; /* Verde claro */
    color: white;
  }
  
  td {
    background-color: #FFFDE7; /* Amarillo claro */
  }
  
  button {
    background-color: #A8E6CF; /* Verde claro */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #5D9B85; /* Verde oscuro */
  }
  