<div *ngIf="plants.length > 0; else noPlants">
    <h2>Mis Plantas</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre Común</th>
          <th>Nombre Científico</th>
          <th>Frecuencia de Riego</th>
          <th>Condiciones de Luz</th>
          <th>Fecha de Registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plant of plants">
          <td>{{ plant.nombreComun }}</td>
          <td>{{ plant.nombreCientifico }}</td>
          <td>{{ plant.frecuenciaRiego }}</td>
          <td>{{ plant.condicionesLuz }}</td>
          <td>{{ plant.fechaRegistro | date:'shortDate' }}</td>
          <td>
            <button (click)="deletePlant(plant.idPlanta)">Eliminar</button>
            <button (click)="selectPlant(plant.idPlanta)">Ver Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <app-plant-detail *ngIf="selectedPlantId" [plantId]="selectedPlantId"></app-plant-detail>
  </div>
  
  <ng-template #noPlants>
    <p>No tienes plantas registradas.</p>
  </ng-template>
  