<div *ngIf="plant">
    <h2>Detalles de la Planta</h2>
    <form (ngSubmit)="updatePlant()">
      <div>
        <label>Nombre Común:</label>
        <input type="text" [(ngModel)]="plant.nombreComun" name="nombreComun" required>
      </div>
      <div>
        <label>Nombre Científico:</label>
        <input type="text" [(ngModel)]="plant.nombreCientifico" name="nombreCientifico" required>
      </div>
      <div>
        <label>Frecuencia de Riego:</label>
        <input type="text" [(ngModel)]="plant.frecuenciaRiego" name="frecuenciaRiego" required>
      </div>
      <div>
        <label>Condiciones de Luz:</label>
        <input type="text" [(ngModel)]="plant.condicionesLuz" name="condicionesLuz" required>
      </div>
      <div>
        <button type="submit">Actualizar Planta</button>
      </div>
    </form>
  </div>
  