<h2>Añadir Planta</h2>
<form (ngSubmit)="addPlant()">
  <label for="nombreComun">Nombre Común:</label>
  <input [(ngModel)]="plant.nombreComun" name="nombreComun" required>

  <label for="nombreCientifico">Nombre Científico:</label>
  <input [(ngModel)]="plant.nombreCientifico" name="nombreCientifico" required>

  <label for="frecuenciaRiego">Frecuencia de Riego:</label>
  <input [(ngModel)]="plant.frecuenciaRiego" name="frecuenciaRiego" required>

  <label for="condicionesLuz">Condiciones de Luz:</label>
  <input [(ngModel)]="plant.condicionesLuz" name="condicionesLuz" required>

  <button type="submit">Guardar</button>
</form>
